# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/.env
.pytest_cache/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Mac
.DS_Store

# SQLite
*.db
*.sqlite3
